@font-face {
    font-family: ciraPro;
    src: url(../webFonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}

p {
    line-height: 30px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: ciraPro;
}

:root {
    --background: #e5e5e5;
    --foreGround: #fff;
    --primary: #fa6957;
    --aoutherName: #707cf9;
    --durationBg: #fee5df;
    --text-color: #183153;
}

img {
    max-width: 100%;
}

body {
    background: var(--background);
}

.container {
    max-width: 870px;
    margin: 0 auto;
    background: var(--foreGround);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pb-50 {
    padding-bottom: 70px;
    margin-bottom: 30px;
}

.section-heading {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
    text-transform: capitalize;
}


/* navigation */

nav {
    background: var(--primary);
    padding: 10px 0;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

.nav-container {
    max-width: 870px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.nav-left h2 {
    color: var(--foreGround);
    font-size: 26px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.menu li {
    color: var(--foreGround);
    font-size: 18px;
    margin: 8px;
}

.menu-icon {
    color: var(--foreGround);
    font-size: 20px;
    display: none;
}

nav img {
    width: 40px;
}


/*  top-players section start*/

.top-players {
    margin-top: 130px;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.player-img {
    height: 80px;
    width: 80px;
}

.player {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 10px;
    border: 1px solid #c4c4c4;
    padding: 5px;
    border-radius: 60px;
    transition: 0.4s;
}

.player:hover,
.card:hover {
    box-shadow: 7px 7px 10px #c1c1c160, -7px -7px 10px #ffffff56;
}

.player-name {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
}


/* blog */

.blog-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 5px;
    background: var(--foreGround);
    border: 1px solid #efefef;
    border-radius: 5px;
}

.blog-img img {
    width: 224px;
}

.blog-info h2 {
    font-size: 20px;
    color: var(--text-color);
}

.blog-info p {
    font-size: 18px;
    color: rgb(154, 154, 154);
}

.blog-info p a {
    color: var(--primary);
}


/* course  */

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    margin: 5px;
    background: var(--foreGround);
    border: 1px solid #efefef;
    border-radius: 10px;
}

.course-title {
    font-size: 22px;
    font-weight: normal;
    margin: 8px 0 15px 0;
}

.course-mentor {
    color: var(--aoutherName);
    font-size: 16px;
    font-weight: normal;
}

.course-img img {
    width: 266px;
}

.course-details {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
}

.icon i {
    color: rgb(249, 141, 131);
    font-size: 14px;
}

.ratings {
    display: flex;
    justify-content: space-between;
}

.course-duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(249, 141, 131);
    gap: 10px;
    border-radius: 20px;
    max-height: 30px;
    padding: 10px;
    color: var(--foreGround);
}

.rating-in-number {
    margin-left: 10px;
}


/* instructor */

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.top-part {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.top-part img {
    width: 65px;
    height: 65px;
}

.card,
.test-card {
    padding: 20px;
    margin: 15px;
    border: 1px solid var(--background);
    border-radius: 8px;
    transition: 0.4s;
}

.icon-holder {
    max-width: 40%;
    padding: 5px 10px;
    border-radius: 55px;
    box-shadow: 7px 7px 10px #c1c1c160, 7px 7px 10px #ffffff56;
    margin-top: 30px;
    border: 1px solid #fa6a575b;
}

.icon-holder i,
.ins-info>i {
    font-size: 20px;
    color: var(--primary);
    margin: 5px;
}

.ins-info h2 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: normal;
}

.ins-info p {
    font-size: 14px;
    color: var(--primary);
    font-weight: 300;
}


/* testimonial */

.test-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lg {
    font-size: 30px;
}

.test-card {
    position: relative;
}

.user-img {
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 2px dashed var(--primary);
    border-radius: 50%;
}

.upper-part p {
    margin-bottom: 20px;
}

.bottom-part {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.test-card i {
    font-size: 80px;
    color: var(--primary);
    opacity: 0.7;
    margin: 15px 0;
}

.text h3 {
    font-size: 22px;
    font-weight: normal;
    color: var(--text-color);
}

.text p {
    color: var(--primary);
    font-size: 14px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--primary);
    text-align: center;
    padding: 30px 0;
    color: var(--foreGround);
}

footer p {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

footer a {
    color: var(--foreGround);
}

footer i {
    font-size: 25px;
    margin: 5px;
}

.underline {
    padding-bottom: 4px;
    border-bottom: 1px solid #fff;
}