@media screen and (max-width: 768px) {
    .player-container,
    .blog-container,
    .courses-container {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
    .player {
        margin: 5px;
    }
    .player-img {
        height: 70px;
        width: 70px;
    }
    .blog-img img {
        max-width: 150px;
    }
    .course-img img {
        width: 100%;
    }
    .container {
        margin: 40px 15px;
    }
    .menu-icon {
        display: inline-block;
    }
    .nav-container {
        padding: 0 20px;
        align-items: center;
    }
    .nav-right {
        visibility: hidden;
        transition: 0.5s;
    }
    .show {
        display: flex;
        flex-direction: column;
        transition: 1s;
    }
    .show .menu {
        visibility: visible;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #fa6957;
        padding: 20px;
        text-align: center;
        left: 0;
        top: 69px;
        width: 100vw;
        z-index: 2;
        transition: 1s;
    }
    .blog-info h2 {
        font-size: 16px;
        font-weight: normal;
    }
    .blog-info p {
        font-size: 14px;
    }
    .course-title {
        font-size: 18px;
    }
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .icon-holder {
        max-width: 50%;
    }
    .test-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 800px) {
    .container {
        margin: 40px 15px;
    }
    .courses-container {
        grid-template-columns: repeat(2, 1fr);
    }
}